ul,li,p,h2,h3,h4,h5,img,p{margin: 0px;padding: 0px;border: none;list-style-type: none;}
body{color: #999;margin: 0px;padding: 0px;background-image: url(images/top_bg.jpg);background-color: #f7f7f7;
     background-repeat:repeat-x;font-size: 12px;}
a{color: #666;text-decoration: none;}
a:hover{color: #ce2626;text-decoration: underline;}
.con{clear: both;}
.k_960{	width: 960px;margin-right: auto;margin-left: auto;}
.s_10{margin-top: 10px;}
.x_10{margin-bottom: 10px;}
.xi{border: 1px solid #e2e2e2;background-color: #FFF;}
.jall_20{padding: 20px}
.j_20 {padding: 20px 20px 0px 20px;}
h3 {margin-bottom: 10px;border-bottom:2px solid #cecece;font-family: "풕턼환쥌";font-size: 22px;color: #C7000E;line-height: 40px;
	letter-spacing: 2px;}
.left{float: left;}
.right{float: right;}
.head{height: 126px;}
.info{height: 74px;position: relative;}
.info h2{font-size: 30px;font-weight: bolder;color: #cc0000;font-family: "풕턼환쥌";padding-top: 15px;padding-left: 20px;}
.info span {line-height: 20px;padding-left: 10px;padding-top: 15px;}
.info span a {padding-right: 5px;padding-left: 5px;}


.nav li {font-size: 14px;line-height: 40px;background-image: url(images/nav_off.jpg);text-align: center;float: left;width: 104px;}
.nav li a {color: #FFF;text-decoration: none;}
.nav li a:hover {color: #FFF;text-decoration: underline;}
.nav li .on{font-weight: bold;background-image: url(images/nav_on.jpg);width: 104px;float: left;}
.nav .Contact span{font-size: 16px;font-weight: bold;color: #FFF;float: right;width: 200px;line-height: 40px;font-family: "풕턼환쥌";}
.nav .Contact img {float: right;padding-top: 7px;}

.s_tel{background-image: url(images/s_tel.jpg);height: 20px;width: 244px;position: absolute;right: 0px;top: 40px;}


.foot {line-height: 24px;text-align: center;color: #666;}
.foot a {padding-right: 20px;padding-left: 20px;color: #666;}


.bei50 li {float: left; padding:20px 0 20px 20px;width: 430px;}
.bei50 li .img,.bei30 li .img {float: left;width: 55px;margin-right: 20px;}
.bei50 li .txte,.bei30 li .txte{float: left;width: 350px;}
.bei50 li .txte h2 a,.bei30 li .txte h2 a{font-family: "풕턼환쥌";font-size: 20px;color: #ec8833;margin-bottom:10px;font-weight: normal;}
.bei50 li .txte h2,.bei30 li .txte h2{font-family: "풕턼환쥌";font-size: 20px;color: #ec8833;margin-bottom:10px;font-weight: normal;}
.bei50 li .txte p,.bei30 li .txte p {font-size: 14px;color: #666;padding-top: 5px;line-height: 25px;}
.bei30 li {float: left;height:100px;padding:20px 0 20px 20px;width: 285px;}
.bei30 li .txte {float: left;width: 190px;}

.s_title{text-align: center;}
.s_but {font-family: "풕턼환쥌";line-height: 60px;background-image: url(images/s_but.jpg);height: 60px;width: 281px;
	    margin-right: auto;margin-left: auto;text-align: center;}
.s_but a{ font-size:24px; color:#fff;}
.s_case li {float: left;text-align: center;line-height: 20px;width:190px; padding:10px 19px 0 19px;}
.s_case li img{margin-bottom: 5px;}
.s_title1{background-image: url(images/s_title3.jpg);height: 48px;line-height: 48px;background-repeat: no-repeat;width: 958px;}
.s_title1 h2{font-family: "풕턼환쥌";font-size: 24px;color: #239dff;font-weight: normal;padding-left: 20px;}
.s_title1 h2 em{color: #ec8833;font-style: normal;}
.s_title2{width:918px;height:65px;font-size: 14px;line-height: 65px;color: #FF6600;}
.s_body .tx {
	font-size: 16px;
	line-height: 28px;
	color: #666;
	text-indent: 2pc;
	padding-right: 10px;
	padding-left: 25px;
	padding-top: 8px;
}
.s_body .txs {
	font-size: 14px;
	line-height: 22px;
	color: #ff6600;
	text-indent: 2pc;
	padding-right: 10px;
	padding-left: 25px;
	padding-top: 8px;
}
.s_body .tx em {color: #ff6600;font-weight: bold;font-style: normal;}
.s_body2 ul li{background-image: url(images/ico.jpg);background-repeat: no-repeat;float: left;
	           width: 390px;padding-left: 66px;line-height: 40px;
	           background-position: 40px 8px;font-size: 14px;color: #666;
			   }

.case_a{padding-left: 15px;}
.case_a img {border:1px solid #CCC;float:left;height:260px;margin-right:25px;padding:4px;width:370px;}
.case_a p {color:#666;float:left;font-size:14px;height:20px;line-height:20px;margin:0;padding-bottom:5px;padding-top:5px;width:450px;}
.case_a .h2 {background-image:url(images/ico.jpg);background-position:-5px 5px;background-repeat:no-repeat;color:#333;
             font-size:14px;font-weight:bold;padding-left:20px;
             }
.case_b {padding-top: 20px;}
.case_b .bo {float:left;height:auto;margin-bottom:10px;margin-top:20px;margin-left: 15px;width:440px;}
.case_b .bo img {border:1px solid #CCC;float:left;margin-right:15px;width:186px;}
.case_b .bo p {color:#666;float:left;font-size:12px;line-height:21px;width:220px;}
.case_b .bo .ti {color:#FF6600;font-size:14px;font-weight:bold;padding-bottom:8px;}

.case_c .ca_body {float:left;width:190px; padding:10px 19px 0 19px;}
.case_c .ca_body p {color:#8C8C8C;line-height:20px;}
.case_c .ca_body img{padding-bottom: 10px;}

.s_left{ float:left;}
.s_right{float:right;}
.m_tx{line-height:22px; width:380px; padding:45px 25px 25px 25px;}
.m_tx .ys1{ font-size:18px; font-family:"풕턼환쥌"; color:#333; padding:0 0 10px 0;}
.m_tx .ys2{ font-size:14px; font-family:"풕턼환쥌"; color:#666;}
.m_tx em{font-style: normal;color: #FF6600;}


.tab_1{border-top:1px solid #eee; border-left:1px solid #eee;}
.tab_1 td{padding:10px; border-right:1px solid #eee; border-bottom:1px solid #eee;}
.tab_1 p,.tab_2 p{line-height: 18px;padding-top: 10px;}


.tab_2{border-top:3px solid #f08831;border-left:1px solid #f08831;color: #333;font-size:14px;}
.tab_2 td{padding: 20px;border-right:1px solid #f08831;border-bottom:1px solid #f08831;line-height: 26px;}
.tab_2 th{padding: 10px;border-right:1px solid #f08831;border-bottom:1px solid #f08831;background-color: #FBDABF;font-weight: normal;}
.tab_2 .zt1{font-weight: bold;background-color: #f5f5f5;}
.tab_2 .zt2{font-weight: bold;color: #ff6600;}
.tab_2 em{color: #ff6600;font-style: normal;}

/* 풟췲횇퉣 */
.tab_1 p img {
	display: none;
	
}
.tab_1 td {
	position: relative;
	cursor: pointer;
}
.tab_1 td:hover p img {
	display: inline-block;	
	position: absolute;
	top: 45px;
	left: 10px;
	z-index: 100;
	border: 3px solid #ddd;
}

#noc {
	position: fixed;
	top: 300px;
	right: 2px;
	border: 3px solid #006699;
	background-color: #fff;
	
	-webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
#noc .arrows { display: block; }
#noc .arrows:before {
	content: ">>";
}
#noc.shoushuo .arrows:before {
	content: "<<";
}

#noc.shoushuo ul {
	display: none;
	width: 0;	
}
#noc ul {
	display: block;
	overflow: hidden;
	padding: 8px;
	
	-webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
#noc li {
	line-height: 28px;
}
#noc li img {
	margin-bottom: 5px;
	vertical-align: middle;
}
#noc .lianxi-btn {
	float: left;
	padding: 10px .5em;
	margin-left: -3px;
	border: none;
	box-sizing: content-box;
	background-color: #006699;
	color: #fff;
	cursor: pointer;
}
#noc .lianxi-btn div {
	width: 1em;
	font-size: 16px;
	line-height: 20px;
	text-align: right;
	font-family: initial;
	font-weight: bold;
}
#noc .lianxi-btn img { margin-bottom: 3px; }
