.slider {
  position: relative;
  overflow: hidden;
  text-align: center;
}
.slider .items {
  position: relative;
  left: 0;
}
.slider .items:before,
.slider .items:after {
  content: " ";
  display: table;
}
.slider .items:after {
  clear: both;
}
.slider .items li {
  float: left;
}
.slider .dots {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 20px;
}
.slider .dot {
  display: inline-block;
  zoom: 1;
  width: 10px;
  height: 10px;
  line-height: 10px;
  margin: 0 4px;
  text-indent: -999em;
  border: 2px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  opacity: .4;
  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s;
}
.slider .dot.active {
  background: #fff;
  opacity: 1;
}
.slider .arrow {
  position: absolute;
  top: 50%;
  z-index: 1000;
  width: 40px;
  height: 80px;
  line-height: 80px;
  margin-top: -40px;
  text-align: center;
  cursor: pointer;
  font-size: 3em;
  font-family: sans-serif;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}
.slider .arrow.prev {
  left: 0;
}
.slider .arrow.next {
  right: 0;
}
